.gutters {
    padding: 0 3rem;
    margin: auto;
    max-width: 1140px;
}

@media (max-width: 800px) {
    .gutters {
        padding: 0 2rem;
    }
}

@media (max-width: 500px) {
    .gutters {
        padding: 0 1rem;
    }
}